extends layout

block content
  p #Triggr
  script(type='text/javascript', charset='utf-8', src='//cdn.jsdelivr.net/phaser/2.4.7/phaser.min.js')
  script(type='text/javascript', charset='utf-8', src='/js/game-map.js')

